.post-body {
  margin-top: 5%;
}

.tag {
  border-radius   : 3px;
  margin          : 2px;
  padding         : 1px 5px 1px 5px;
  background-color: $gray;
  color           : $white;
  @extend .bold;
  a {
    font-style: initial;
    color: inherit;
  }
}

.about-me {
  background-color: $lightGray;
  border-radius: 10px;
  padding: 5%;

  .my-photo > img {
    width        : 75%;
    border-radius: 5em;
  }
}
.posts-aside, .tags-aside {
  margin-top: 5em;
  font-size : 15px;
  text-align: left;

  .createdAt, .post {
    float: left;
  }
  .createdAt {
      font-size: 17px;
  }
  .post {
    margin-bottom: 3em;
  }

  .tag {
    background-color: initial;
    color: initial;
  }
}
