.post-body {
  margin-top: 5%;
}

.tag {
  border-radius   : 3px;
  margin          : 2px;
  padding         : 1px 5px 1px 5px;
  background-color: $gray;
  color           : $white;
  a {
    font-style: initial;
    color     : inherit;
  }
}

.about-me {
  background-color: $lightGray;
  border-radius   : 10px;
  padding         : 5%;

  .my-photo > img {
    width        : 60%;
    border-radius: 5em;
  }
}
.posts-aside, .tags-aside {
  margin-top: 5em;
  font-size : 15px;
  text-align: left;
  .tags-wrapper, .posts-wrapper {
    padding-left: 10%;
    > .tag-wrapper, .post-wrapper {
      border-left: 1px dotted $darkGreenishBlue;
      .tag {
        background-color: initial;
        color           : initial;
      }
      .post, .createdAt {
        padding-left: 3%;
      }
      .post {
        margin-bottom: 2em;
      }
      .createdAt {
        font-size: 17px;
      }
    }
  }
}
