.gist .gist-file .gist-data .line-numbers {
  background-color: $green !important;
  border          : 0 !important;
}

.gist > div.gist-file { border: 0 !important; }

.line-number { color: $yellow !important; }

.gist-data.gist-syntax > div > table > tbody > tr, .file-data {
  background-color: $darkGreenishBlue !important;
  color           : $lightRed !important;
}

.gist-syntax .nt  { color: $lightGreen !important; }
.gist-syntax .k   { color: $grayishYellow !important; }
.gist-syntax .err { @extend .file-data; }

.gist-meta { display: none !important; }
