doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")

    title blog.benatespina

    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Gafata")

    link(rel="shortcut icon", href="img/favicon.ico")
    link(rel="apple-touch-icon", href="img/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="img/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="img/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="144x144", href="img/apple-touch-icon-144x144.png")
  body
    header
      h1
        a(href='/') blog.benatespina.com === nire programazio kontuen txokoa