doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")

    title blog.benatespina.com

    link(rel="stylesheet", href="/main.min.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Gafata")
  body
    block content