html(lang='eu')
head
    title {{ ikerdev }}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")

    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Gafata")

    link(rel="shortcut icon", href="img/favicon.ico")
    link(rel="apple-touch-icon", href="img/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="img/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="img/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="144x144", href="img/apple-touch-icon-144x144.png")

    link(rel="stylesheet", href="/main.min.css")

    script(src='http://w.sharethis.com/button/buttons.js')
    script.
      stLight.options({ publisher: '84137f2a26d08ad79f0b6c88ed9dcfe7' });
  body
    header
      .wrapper
        a.logo(href='#')
          {{ ikerdev }}
        nav
          ul.main_nav
            li.current
              a(href='http://www.ikerib.com') Bidaiak
            li
              a(href='#') Kontaktua
