header {
  height       : auto;
  padding      : 2em;
  margin-bottom: 3%;
}

.wrapper {
  max-width   : 1000px;
  margin-left : 10%;
  margin-right: 10%;

  article, aside, footer { margin-bottom: 1em; }
  article, aside { float: left; }

  div.social-bar { float: right; }

  article { width: 75%; margin-right: 2.5%; }
  aside { width: 20%; margin-left : 2.5%; }
}