header {
  height       : auto;
  padding      : 2em;
  margin-bottom: 3%;
}

.wrapper {
  max-width   : 1000px;
  margin-left : 10%;
  margin-right: 10%;

  article, aside, footer { margin-bottom: 1em; }
  article, aside { float: left; }

  div.social-bar { float: right; }

  article { width: 70%; margin-right: 2.5%; }
  aside { width: 25%; margin-left : 2.5%; }
}

div.dashboard-table {
  ul.wrapper-title, ul.wrapper-row {
    @include display-flex();
    justify-content: center;
    > li.item-title, li.item-row {
      @include flex(1 10%);
    }
    > li.item-title-tag, li.item-row-tag {
      @include flex(2);
    }
  }
}