@import "../helpers/variables";
@import "../helpers/flexbox";
@import "../helpers/mixins";

.create-edit-container {
  max-width: 1000px;
  margin-bottom: 10%;
  @include display-flex();
  @include justify-content(center);
  align-content: center;
  > form.create-edit {
    width: 80%;
    input[type=text], textarea {
      @include input(100%);
    }
    textarea:nth-child(4) {
      height: 500px;
    }
    textarea:nth-child(6) {
      margin-bottom: 0;
    }
    textarea {
      resize: vertical;
    }
    .all-tags {
      font-size: 0.7em;
    }
    button.create-edit[type=submit] {
      @include button(5% 0, 1% 5%);
    }
  }
}