@import "../helpers/variables";
@import "../helpers/flexbox";
@import "../helpers/mixins";
@import "../helpers/mq";

.create-edit-container {
  max-width: 1300px;
  margin: 5%;
  @include display-flex();
  > form.create-edit {
    @include flex(2);
    input[type=text], textarea {
      @include input(100%);
    }
    textarea:nth-child(4) {
      height: 500px;
    }
    textarea:nth-child(6) {
      margin-bottom: 0;
    }
    textarea {
      resize: vertical;
    }
    .all-tags {
      font-size: 0.7em;
    }
    button.create-edit[type=submit] {
      @include button(5% 0, 1% 5%);
    }
  }
  .instructions-container {
    @include flex(1);
    background-color: $lightGray;
    border-radius   : 10px;
    margin          : 0 0 0 5%;
    padding         : 0 3%;
    text-align      : justify;
    line-height     : 1.5em;
    .bold {
      font-family: sans-serif;
      font-size  : 0.8em;
    }
  }
}


@include mq($from: mobile, $to: desktop) {
  .create-edit-container {
    display: inherit;
    margin : 0 10% 0 5%;
    .instructions-container {
      margin : 5% 0;
      padding: 5%;
    }
  }
}