@import "../helpers/variables";
@import "../helpers/flexbox";
@import "../helpers/mixins";

.container {
  max-width: 1000px;
  margin-bottom: 10%;
  @include display-flex();
  @include justify-content(center);
  align-content: center;
  > form.create-edit {
    width: 80%;
    input[type=text], textarea {
      @include input(100%);
    }
    textarea:nth-child(4) {
      height: 500px;
    }
    textarea {
      resize: vertical;
    }
  }
  button.create-edit[type=submit] {
    @include button(1% 5%);
  }
}