@import "../helpers/variables";
@import "../helpers/flexbox";

div.alert {
  color        : $lightRed;
  text-align   : center;
  margin-bottom: 2em;
}

.container {
  @include display-flex();
  @include justify-content(center);
  align-content: center;
  
  input[type=text], input[type=password] {
    border       : solid 1px $gray;
    border-radius: 5px;
    height       : 2.5em;
    width        : 25em;
    margin-bottom: 2em;
    padding-left : 10px;
    font-size    : 0.8em;
  }

  button[type=submit] {
    padding      : 3% 20%;
    cursor       : pointer;
    border       : 1px solid $gray;
    border-radius: 5px;
    float        : right;
  }
}