@import "../helpers/variables";
@import "../helpers/flexbox";
@import "../helpers/mixins";

div.alert {
  color        : $lightRed;
  text-align   : center;
  margin-bottom: 2em;
}

.container {
  @include display-flex();
  @include justify-content(center);
  align-content: center;
  > form.login {
    input[type=text], input[type=password] {
      @include input();
    }
  }
  button.login[type=submit] {
    @include button();
  }
}