include includes/base
section.main2.wrapper
  section.content
    each post in posts
      article
        include ./templates/post
  aside.sidebar
    include ./templates/aside
footer
  include ./templates/footer

include ./includes/foot