include includes/base
container
  div.wrapper
    article
      each post in posts
        include ./templates/post
    aside
      include ./templates/aside
  footer
    include ./templates/footer

include ./includes/foot