include includes/base
section.main2.wrapper
  section.content
    h1 #{tag} etiketarekin aurkitutako postak:
    each post in taggedPosts
      article
        include ./templates/post
  aside
    include ./templates/aside
footer
  include ./templates/footer