include includes/base
container
  div.wrapper
    article
      h1 #{tag} etiketarekin aurkitutako postak:
      each post in taggedPosts
        include ./templates/post
    aside
      include ./templates/aside
  footer
    include ./templates/footer

include ./includes/foot