section.about-me
  div.my-photo
    img(alt="photo", src="/img/photo-200x200.png")
  div.about-resume
    p
      | Kaixo! Iker Ibarguren naiz, Usurbil jaio eta Zarautzen bizi dena.
      | Mahaigain, Web eta mugikorrerako aplikazio garatzailea.
    p
      | Progranazio mundu honetan nire eguneroko esperientziei buruzko artikuluak aurkituko
      | dituzu hemen.
    p
      div
        |Curriculum Vitae
      a(href="http://ikerib.github.io/cv/curriculum-eus.pdf", target="_blank") CV Euskeraz
      a(href="http://ikerib.github.io/cv/curriculum-eus.pdf", target="_blank") CV Erdaraz
    | Jorratzen ditudan gaien artean:
  div.technologies
    span.html5
    span.javascript
    span.angularjs
    span.symfony
    span.nodejs
    span.mongodb
    span.compass
    span.objective-c
  div.bidaiak
    p
      | Nire bidaiei buruz zerbait gehiago jakin nahi izatekotan beste
      a(href="http://ikerib.com", target="_blank")  webgune
      |  honetan aurkitu dezakezu.

div.tags-aside
  h3
    span.tag-icon
    span Etiketak
  div.tags-wrapper
    div.tag-wrapper
      each tag in tags
        div.tag
          a(href="/artikuluak/etiketak/#{tag}") !{tag}
