div.my-social-container
  a.stackoverflow-icon(href="http://careers.stackoverflow.com/ikerib", target="_blank")
  a.twitter-icon(href="https://twitter.com/ikerib", target="_blank")
  a.github-icon(href="https://github.com/ikerib", target="_blank")
  a.linkedin-icon(href="https://www.linkedin.com/in/iker.ibarguren", target="_blank")
  a.mail-icon(href="mailto:ikerib@gmail.com", target="_blank")
  a.feed-icon(href="http://dev.ikerib.com/feed", target="_blank")