div.my-social-container
  a.stackoverflow-icon(href="http://careers.stackoverflow.com/benatespina", target="_blank")
  a.twitter-icon(href="https://twitter.com/benatespina", target="_blank")
  a.github-icon(href="https://github.com/benatespina", target="_blank")
  a.linkedin-icon(href="https://www.linkedin.com/in/benatespina", target="_blank")
  a.mail-icon(href="mailto:benatespina@gmail.com", target="_blank")
  a.feed-icon(href="http://blog.benatespina.com/feed", target="_blank")