@import "../helpers/variables";
@import "../helpers/flexbox";

@mixin input($width: 25em, $padding: 0 10px, $height: 2.5em, $font-size: 0.8em) {
  border       : solid 1px $gray;
  border-radius: 5px;
  height       : $height;
  width        : $width;
  margin-bottom: 2em;
  padding      : $padding;
  font-size    : $font-size;
  line-height  : 2em; 
}

@mixin button($margin: 0, $padding: 3% 20%) {
  padding      : $padding;
  cursor       : pointer;
  border       : 1px solid $gray;
  border-radius: 5px;
  margin       : $margin;
}

@mixin icon-size($margin, $width: 50px, $height: 50px) {
  margin : $margin;
  width  : $width;
  height : $height;
  display: inline-block;
}