$gray            : #999999;
$lightGray       : #EBEBEB;
$white           : #FFFFFF;
$black           : #000000;
$darkGreenishBlue: #133039;
$lightRed        : #C4634F;
$lightGreen      : #81D590;
$grayishYellow   : #635F21;
$yellow          : #BBB13E;
$green           : #374D19;