p {
  margin: {
    top   : 1em;
    bottom: 1em;
  }
  text-indent: 2em;
}

header {
  background-color: $black;
  color           : $yellow;
}

article {
  text-align: justify;

  .createdAt, .writtenAt {
    float: right;
  }

  .updatedAt {
    float: center;
  }

  > h1 {
    margin-top   : 2%;
    margin-bottom: 5%;
  }
}
aside, footer { text-align: center; }

h3 {
  margin-top   : 2%;
  margin-bottom: 5px;
}

.tags-wrapper {
  margin-bottom: 3em;
}