p {
  margin: {
    top   : 1em;
    bottom: 1em;
  }
  text-indent: 2em;
}

header {
  background-color: $darkGreenishBlue;
  a {
    color: $yellow;
  }
}

article {
  text-align : justify;
  line-height: 1.5em;

  .createdAt, .writtenAt {
    margin: 3% 0 5% 0;
    @include display-flex();
    span:nth-child(2) {
      @include flex(2);
    }
    span:nth-child(3) {
      @include flex(1);
    }
  }

  .comments-container {
    margin-top: 3em;
  }

  > h1 {
    margin-top   : 2%;
    margin-bottom: 5%;
    font-family  : sans-serif;
  }
}
aside, footer { 
  text-align: center;
  p {
    text-indent: initial;
    line-height: 1.5em;
  }
}

h3 {
  margin-top   : 2%;
  margin-bottom: 5px;
}

.tags-wrapper {
  margin-bottom: 5em;
}