.italic    { font-style     : italic; }
.bold      { font-weight    : bold; }
.cross-out { text-decoration: line-through; }

body {
  font: {
    family: "Gafata", sans-serif;
    size  : 18px;
  }
}

a {
  @extend .italic;
  @extend .bold;
}

h1 { font-family: Consolas, "Liberation Mono", Courier, monospace; }

h1, h2 {
  font-size  : 24px;
  @extend .bold;

  a {
    font-style: initial;
  }
}

h3 {
  font-size: 20px;
  @extend .italic;
  display: flex;
}

