div.instructions-container
  p
    | Posta era egokian argitaratzeko, hemen doakizu jarraitu beharreko
    | zenbait hirizpide:
    | Indentazioa ongi isladatzeko
    span.bold  &lt;p&gt;&lt;/p&gt;
    |  etiketen tartean eratutako parrafoak egin behar dira.
    | Testuari itxura beltzarana emateko
    span.bold  &lt;span class='bold'&gt;&lt;/span&gt;
    |  erabili beharko da; era berean letra etzanak testua
    span.bold  &lt;span class='italic'&gt;&lt;/span&gt;
    |  etiketen artean jarriz lortuko da. Lerro bat gainetik jarri nahi izatekotan
    span.bold  &lt;span class='cross-out'&gt;&lt;/span&gt;
    |  erabiliko da.
    | Kakotz sinple nahiz bikoitzak eskapatu beharreko karaktereak izango dira:
    span.bold  \"
    |  eta
    span.bold  \'
  p
    | Bestalde, kode zatiak eratzeko
    a(href='https://gist.github.com/')  Gist
    |  erabiltzea komenigarria da, berez dakarren estiloak berridatzi baitirelako
    | eta beti hauek erabiltzea, blogari egonkortasun bisuala ematen dio.
    span.bold  &lt;p&gt;&lt;script src='gisten-dagoen-kode-zatiaren-web-helbidea'&gt;&lt;/script&gt;&lt;/p&gt;
    |  da erabiltzeko modua.